body{
    padding: 0;
    margin: 0;
}
.head{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
.head h2{
    margin-left: 10px;
}
.head button{
    margin-right: 10px;
}
.list_attribut{
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.list{
    display: flex;
    justify-content: space-around;
}
.list ul li{
    list-style-type: none;

}
/* ELEVE */
#entete{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bnttt{
    /* border: 1px solid;  */
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#bnttt button{
    margin-right: 50px;
}

/* ADMIN */
#list_attribut_planning_admin{
    margin-top: 30px;
}
#list_admin_ul1 ul {
    padding-right: 90px;
    border-right: 1px solid;
}
#list_admin_ul1 #vendredi_eleve{
    padding-right: 0;
    border-right: none;
}